.show-user {
  border: 1px solid rgb(220, 213, 213);
  border-radius: 5px;
  list-style: none;
  margin: 20px auto;
  padding: 0;
  text-align: left;
  width: 90%;
}

.show-user li:last-of-type {
  font-size: 13px;
}