.app{
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around; 
}
div button {
  border: 1px solid;
  border-radius: 8px;
  font-size: 1.2em;
  height: 50px;
  margin: 20px auto;
  width: 220px;
}
div button:hover {
  cursor: pointer;
  font-weight: 600;
}